@import "../Variables.scss";

.chatInput {
    border-radius: 20px;

    > form {
        position: relative;
        display: flex;
        justify-content: center;

        > input {
            position: fixed;
            width: 70%;
            bottom: 20px;
            border: 2px solid $border-color;
            border-radius: 3px;
            padding: 20px;
            outline: none;
            transition: 0.2s all ease-in-out;
        }

        > button {
            display: none !important;

        }
    }
}